[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "methylInheritance"]
	path = methylInheritance
	url = https://github.com/adeschen/methylinheritance
[submodule "similaRpeak"]
	path = similaRpeak
	url = https://github.com/adeschen/similarpeak
